<!DOCTYPE html>
<html>
<head>
	<title>Highest LOC</title>
	 <script  src="http://d3js.org/d3.v3.min.js"></script>
	 <script src="jquery2.min.js"></script>
</head>
<body>  
<div>
<script type="text/javascript">
   /*var data
$.get('/loc', function(_data){
	data = _data
	alert(data)
	console.log(data)
	})
console.log(data)*/
var locdata='{{dataset[1]}}'
var locvalue='{{dataset[2]}}'
var lang=locdata.substring(1,locdata.length-1).split(",")
for (var i = 0; i < lang.length; i++) {
	if (lang[i]=="&#39;") {
		lang.splice(i)
	}
	lang[i]=lang[i].replace("&#39;","")
}
alert(lang)
alert(locvalue)
alert(typeof lang[0])
alert("suashasrtfe")
		//Width and height
		alert(typeof locvalue)
		var data=locvalue.substring(1,locvalue.length-1).split(",")
		total= data.pop()
		alert(total)
	var width = 250
	var height = 250
	var outerRadius = width/2
	var innerRadius = 0
	//Create SVG element
	var svg = d3.select("body")
	      .append("svg")
	      .attr("width", width)
	      .attr("height", height)
	// pie layout function
	var pie = d3.layout.pie()
	var piedata = pie(data)
	//Set up pie groups
	var arcs = svg.selectAll("g")
	        .data(piedata)
	        .enter()
	        .append("g")
	        .attr("transform", "translate(" + outerRadius + "," + outerRadius + ")")
	// Create arc function with parameters
	var arc = d3.svg.arc()
	        .innerRadius(innerRadius)
	        .outerRadius(outerRadius)
	// Draw arc paths
	arcs.append("path")
	    .attr("d", arc)

	    // Create ordinal scale color palette
	var color = d3.scale.category10();
	// Draw arc paths
	arcs.append("path")
	    .attr("d", arc)
	    .attr("fill", function(d, i) { return color(i) }) // Fill color
	      .append("g")

        .attr("class", "slice")
        .on("mouseover", function(d) {
            d3.select(this).select("path").transition()
               .duration(1000)
               .attr("d", arcOver);
        })
        .on("mouseout", function(d) {
            d3.select(this).select("path").transition()
               .duration(1000)
               .attr("d", arc);
        });
    arcs.append("path")

	    // Labels
	arcs.append("text")
	    .attr("transform", function(d) {
	      return "translate(" + arc.centroid(d) + ")"
	    })
	    .attr("text-anchor", "end")
	    .text(function(d,i) {return lang[i].replace("&#39;","")+" : "+d.value})



</script>
</div>
</body>
</html>